<div class="header">
<div class="left">
    <div (click)="onBurgerClick()" class="burger-container">
      @if (isOpen) {
        <img class="burger" src="../../../assets/close-white.png" alt="" />
        }@else {
        <img class="burger" src="../../../assets/burger-bar-white2.png" alt="" />
        }
    </div>
    <div class="left-buttons">
    @for (item of boutonsHeader; track $index) {
      @if (item.id < 5 && item.id > 0) {
        <a
          class="button"
          [routerLink]="!isConnected ? '/connexion' : item.url"
          [style.color]="item.id === 0 ? 'black' : item.id === 3 ? 'blue' : item.id === 4 ? 'red' : 'white'"
        >
          {{ item.name }}
        </a>
      }
      @if (item.id == 0) {
        <a
          class="button"
          [routerLink]="item.url"
          [style.color]="'white'"
        >
          {{ item.name }}
        </a>
      }
    }
    </div>
  </div>
  <div class="logo">
    <img src="../../../assets/benzin.png" alt="fond">
  </div>
  <div class="right">
    <div class="right-buttons" style="float: right;">
      @for (item of boutonsHeader; track $index) {
        @if (item.id >= 5) {
          <a
            class="button"
            [routerLink]="!isConnected ? '/connexion' : item.url"
            [style.color]="'white'"
          >
            {{ item.name }}
          </a>
        }
      }
    </div>
  </div>
</div>
  