<div class="header">
  <div class="title">
    @if(!isConnected) {
      <div class="buttons">
        <div class="left-buttons">
            @for (item of boutonsHeader; track $index) {
            @if (item.id < 5 && item.id > 0  ) {
              <a
              class="button"
              [routerLink]="item.url"
              [style.color]="item.id === 0 ? 'black' : item.id === 3 ? 'blue' : item.id === 4 ? 'red' : 'white'"
              >{{ item.name }}</a>
            }
            @if (item.id == 0 ) {
              <a
              class="button"
              [routerLink]="item.url"
              [style.color]="'white'"
              >{{ item.name }}</a>
            }
            }
        </div>
        <div class="right-buttons" style="float: right;">
          @for (item of boutonsHeader; track $index) {
          @if (item.id >= 5) {
            <a
             class="button"
             [style.color]="'white'"
             [routerLink]="item.url"
             >{{ item.name }}</a>
           }
           }
          </div>
        </div>
    }
</div>
  